*,*::before,*::after{
    box-sizing:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgba(255, 228, 196, 0.601);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid white;
    background-color:rgba(86, 254, 254, 0.476) ;

}

.calculator-grid>button:hover{
    background-color: rgb(50, 250, 250);
}

.span2{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(45, 45, 45, 0.727);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding:  10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(240, 255, 255, 0.402);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}